@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cubiculo de Estudio</h1>
    <p class="lead">Si has sentido que no tienes espacio para organizar tus clases o quieres aprender algo nuevo esta es la herramienta para ti</p>
    <p><a href="@Url.Action("Login", "Cuenta")" class="btn btn-primary btn-lg">Unete &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cursos</h2>
        <p>
            Estos son Todos los Cursos que te Ofrecemos
        </p>
        <p><a class="btn btn-default" href="@Url.Action("CursoIndex", "Curso")">Cursos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Usuarios</h2>
        <p>En esta Demo podra manejar a los usuarios completamente*</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "USUARIOs")">Ver Usuarios &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Creación de Cursos</h2>
        <p>En esta demo no necesitará iniciar Sesión para crear Cursos*</p>
        <p><a class="btn btn-default" href="@Url.Action("CrearCurso", "Curso")">Crear Curso &raquo;</a></p>
    </div>

    @* Boton para ver los cursos que yo he creado *@
    <div class="col-md-4">
        <h2>Mis Cursos</h2>
        <p>Lista de mis cursos </p>
        <p><a class="btn btn-default" href="@Url.Action("MisCursos", "Curso")">Editar Curso &raquo;</a></p>
    </div>

    @* Boton para asignarme cursos *@
    <div class="col-md-4">
        <h2>Asignacion</h2>
        <p>Lista de cursos para poder asignarse </p>
        <p><a class="btn btn-default" href="@Url.Action("AsignacionCursos", "Asignacion")">Asignar Curso &raquo;</a></p>
    </div>

    <div>
        *Aplicacion en desarrollo algunas caracteristicas podrían ser cambias o eliminas en la version final
        @*   @Html.ActionLink("Lista de Usuarios", "Index", "USUARIOs")<br />*@
    </div>



</div>

