@using App_Estudios_G7.Models.ViewModels

@{
    ViewBag.Title = "ContenidoCurso";
}

<h2>Contenido Curso</h2>
@*Examenes*@
<div>
    <h3>Examenes</h3>

    @*Boton de creacion de examen*@
    <div class="row" style="text-align:left;">
        <a class="btn btn-primary btn-lg" href="/Curso/CrearCurso">Crear examen</a>
    </div>

    @*Tablas de contenido del curso*@
    <table class="table table-striped">
        <thead>
            <tr>
                <td>ID</td>
                <td>Preguntas</td>
                <td>Fecha</td>
                <td>Minutos</td>
            </tr>
        </thead>
        <tbody>

            @{
                //obtengo de mi viewbag los examenes
                var examenes = ViewBag.examenes;
                foreach (var item in examenes)
                {
                        <tr>
                            <td>@item.id_examen</td>
                            <td>@item.preguntas</td>
                            <td>@item.fecha</td>
                            <td>@item.minutos</td>
                            <td>
                                @Html.ActionLink("Editar", "Editar", new { id = item.id_examen }) |
                                @Html.ActionLink("Borrar", "Delete", new { id = item.id_examen })
                            </td>
                        </tr>
                }
            }
        </tbody>
    </table>
</div>


@*Tareas*@
<div>
    <h3>Tareas</h3>

    @*Boton de creacion de tarea*@
    <div class="row" style="text-align:left;">
        <a class="btn btn-primary btn-lg" href="/Tarea/TareaCreate">Crear tarea</a>
    </div>

    @*Tablas de contenido del curso*@
    <table class="table table-striped">
        <thead>
            <tr>
                <td>ID</td>
                <td>Enunciado</td>
                <td>Entrega</td>
            </tr>
        </thead>
        <tbody>

            @{
                //obtengo de mi viewbag los examenes
                var tareas = ViewBag.tareas;
                foreach (var item in tareas)
                {
                    <tr>
                        <td>@item.id_tarea</td>
                        <td>@item.enunciado</td>
                        <td>@item.entrega</td>
                        <td>
                            @Html.ActionLink("Editar", "Editar", new { id = item.id_tarea }) |
                            @Html.ActionLink("Borrar", "Delete", new { id = item.id_tarea })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>


@*Actividad*@
<div>
    <h3>Actividades</h3>

    @*Boton de creacion de actividad*@
    <div class="row" style="text-align:left;">
        <a class="btn btn-primary btn-lg" href="/Curso/CrearCurso">Crear actividad</a>
    </div>

    @*Tablas de contenido del curso*@
    <table class="table table-striped">
        <thead>
            <tr>
                <td>ID</td>
                <td>Tipo</td>
                <td>Evento</td>
            </tr>
        </thead>
        <tbody>

            @{
                //obtengo de mi viewbag los examenes
                var actividades = ViewBag.actividades;
                foreach (var item in actividades)
                {
                    <tr>
                        <td>@item.id_actividad</td>
                        <td>@item.tipo</td>
                        <td>@item.id:evento</td>
                        <td>
                            @Html.ActionLink("Editar", "Editar", new { id = item.id_examen }) |
                            @Html.ActionLink("Borrar", "Delete", new { id = item.id_examen })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>