@model App_Estudios_G7.Models.CURSO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CURSO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO.nick)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO.nick)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_curso }) |
    @Html.ActionLink("Back to List", "Index")
</p>
