@model IEnumerable<App_Estudios_G7.Models.CURSO>

@{
    ViewBag.Title = "AsignacionCursos";
}

<h2>AsignacionCursos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USUARIO.nick)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USUARIO.nick)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_curso }) |

        </td>
    </tr>
}

</table>
